<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>



  <div class="container">
    <div class="row">
  
    </div>
    新着商品
    <div class="row">
     <div class="col-lg-3">
       画像
       商品名
       価格
     </div>
     <div class="col-lg-3">
    　ケーキ
     </div>
     <div class="col-lg-3">
       ケーキ
     </div>
     <div class="col-lg-3">
       ケーキ
     </div>
    </div>

  </div>