<!--ryon-->
<div class="container p-3">
  <div class="row">
    <!--ヘッダーの部分テンプレート-->
    <%= render 'poblic/sharced/xxx.html.erb' %>

  <div class="col-md-12">
    <h3>ご注文ありがとうございました！</h3>
  </div>
  <!--フッターの部分テンプレート-->
  <%= render 'poblic/sharced/xxx.html.erb' %>

  </div>
</div>